.container {
    background-color: rgb(91, 77, 224);
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    height: 40px;
    max-width: 110px;
}

.icon{
    margin-top: 3px;
    padding: 5px;
}

.text {
    padding: 10px;
}